langchain
langchain-community
langchain-core
langchain-groq
chromadb
sentence-transformers
transformers
torch
requests
beautifulsoup4
lxml
pdfplumber
numpy
pandas
tqdm
python-dotenv
pydantic
tenacity
pypdf
langchain-huggingface
langchain-chroma
streamlit
paperscraper
fastapi
python-multipart